<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Já decorei
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Não decorei
  </label>
</div>

<hr/>

<% if translations.present? %>
  <h3>Tradução</h3>
  <% translations.each do |translation| %>
    <p>
      <%= translation.word_translated %>
    </p>
  <%
  end
else %>
  <h3>Nenhuma tradução encontrada!</h3>
<% end %>

<hr/>

<%
if definitions.present?
  definitions.each do |word_type, array_definition|
%>
  <h3><%= word_type ? word_type.capitalize : '--' %></h3>

  <ol>
    <% array_definition.each do |definition| %>
      <li>
        <%= definition.definition %> <%= definition.example %>
      </li>
    <% end %>
  </ol>
  <br/>
<%
  end
else %>
  <h3>Nenhuma definição encontrada!</h3>
<% end %>

<% if search_results.present? %>
  <h3>Imagens relacionadas</h3>
  <div class="card-columns">
    <% search_results.each do |image| %>
      <div class="card">
        <img src="<%= image.urls['thumb'] %>" width="100%" />
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $(document).on('change', '.filter-chars', function (event) {
    $('form').submit();
  });
});
</script>