<style>
.table-definitions {
  border: 1px solid #CCC;
}
.table-definitions td {
  border: 1px solid #CCC;
  padding: 3px;
}
</style>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Já decorei
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Não decorei
  </label>
</div>

<hr/>

<% if translations.present? %>
  <table class="table-definitions" cellpadding="1" cellspacing="1">
    <tr>
      <td>Palavra</td>
      <td>Tradução</td>
    </tr>
    <tbody>
      <% translations.each do |translation| %>
        <tr>
          <td>
            <%= translation.word %>
          </td>
          <td>
            <%= translation.word_translated %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Nenhuma tradução encontrada!</h3>
<% end %>

<hr/>

<% if definitions.present? %>
  <table class="table-definitions" cellpadding="1" cellspacing="1">
    <tr>
      <td>Type</td>
      <td>Definition</td>
    </tr>
    <tbody>
      <% definitions.each do |definition| %>
        <tr>
          <td>
            <%= definition.word_type ? definition.word_type.capitalize : '--' %>
          </td>
          <td>
            <%= definition.definition %> <%= definition.example %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
<% else %>
  <h3>Nenhuma definição encontrada!</h3>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $(document).on('change', '.filter-chars', function (event) {
    $('form').submit();
  });
});
</script>